<div class="formpage">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Enter Password">
        <input class="btn-sum" type="submit" value="Login">
    </form>
    <p>if not signup <a href="/signup">Register</a></p>
</div>