<div class="formpage">
    <h1>Sign Up </h1>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Enter Password">
        <input class="btn-sum" type="submit" name="" id="" value="Sign UP!">
    </form>
</div>